/* Estilos globais */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #333;
}

/* Container principal */
.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1, h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Estilos para o formulário */
form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Estilos para os inputs */
input[type="text"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Estilos para o botão */
button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

button:active {
  background-color: #1c5985;
}

/* Lista de produtos */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

li:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Contêiner de conteúdo do produto */
.product-content {
  flex-grow: 1;  /* Permite que o conteúdo cresça conforme necessário */
  margin-right: 20px;  /* Garante espaçamento entre o texto do produto e os botões */
}

/* Estilos para o contêiner de botões */
.button-container {
  display: flex;
  flex-shrink: 0;  /* Garante que o contêiner de botões não encolha */
}

/* Espaçamento entre os botões */
.button-container button {
  margin-left: 10px;
}

/* Layout responsivo */
@media (max-width: 768px) {
  .App {
    padding: 15px;
  }

  form {
    flex-direction: column;
    gap: 10px;
  }

  button {
    width: 100%;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  /* Estilos para a paginação */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #2980b9;
}

.pagination button:hover {
  background-color: #2980b9;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

}
